<div class="inner cover">
  <h1 class="cover-heading">Welocme.</h1>
  <p class="lead">Hello this is Sean Mchugh's personal portfolio.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary"%>
  </p>
</div>
